@font-face {
  font-family: 'PI-icons';
  src: url('font/icomoon.woff') format('woff');
}

[class^="i_"], [class*=" i_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PI-icons' !important;
  font-style: normal;
  vertical-align: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_appointment:before {
  content: "\e902";
}
.i_play:before {
  content: "\e92b";
}
.i_star-half:before {
  content: "\e918";
}
.i_star-filled:before {
  content: "\e900";
}
.i_star:before {
  content: "\e901";
}


.i_shield:before {
  content: "\e903";
}
.i_diamond:before {
  content: "\e904";
}
.i_chart:before {
  content: "\e905";
}
.i_plus:before {
  content: "\e906";
}
.i_target:before {
  content: "\e921";
}
.i_trader:before {
  content: "\e907";
}
.i_bank:before {
  content: "\e91d";
}
.i_check:before {
  content: "\e922";
}

.i_order:before {
  content: "\e908";
}
.i_book:before {
  content: "\e909";
}
.i_surf:before {
  content: "\e90a";
}
.i_live:before {
  content: "\e90b";
}
.i_timer:before {
  content: "\e927";
}
.i_calendar:before {
  content: "\e90d";
}
.i_arrow:before {
  content: "\e90c";
}

.i_clock:before {
  content: "\e90f";
}

.i_infinity:before {
  content: "\e90e";
}
.i_cal2:before {
  content: "\e910";
}

.i_sun:before {
  content: "\e912";
}
.i_moon:before {
  content: "\e911";
}
.i_faq:before {
  content: "\e93b";
}
.i_arrow_down:before {
  content: "\e924";
}

.i_youtube:before {
  content: "\e913";
}
.i_linkedin:before {
  content: "\e914";
}
.i_instagram:before {
  content: "\e915";
}
.i_facebook:before {
  content: "\e916";
}
.i_thunder:before {
  content: "\e917";
}